{{{_header}}}

<div>
    <font face="tahoma, sans-serif" color="#666666">
        Olá {{userName}},
    </font>
</div>

<div>
    <font face="tahoma, sans-serif" color="#666666">
        Identificamos que você tem um perfil no {{siteName}}, criada e administrada por {{oldUserName}}
    </font>
</div>

<div>
    <font face="tahoma, sans-serif" color="#666666">
        Para garantir a segurança em relação a teus dados e privacidade, as regras de uso da plataforma foram alteradas. 
    </font>
</div>

<div>
    <font face="tahoma, sans-serif" color="#666666">
        Agora, você precisa ser responsável por sua própria conta. Para acessá-la, entre no <a href="{{siteUrl}}">{{siteName}}</a>, 
        inclua o seu endereço de email que está nessa mensagem e peça a recuperação de senha.
    </font>
</div>

<div>
    <font face="tahoma, sans-serif" color="#666666">
        Após o login, você precisará aceitar os termos de uso da plataforma. Se quiser manter o {{oldUserName}} no controle do seu perfil, 
        é possível conceder essa autorização por meio do Painel. 
    </font>
</div>

<div>
    <font face="tahoma, sans-serif" color="#666666">
        Caso escolha por excluir a conta ou estiver com quaisquer dúvidas sobre o novo protocolo, 
        entre em contato com o suporte da plataforma {{supportContact}}
    </font>
</div>
{{{_footer}}}